
.sync_100 {
    background-color: #00B000;
}
.sync_90 {
    background-color: #50B000;
}
.sync_80 {
    background-color: #90B000;
}
.sync_70 {
    background-color: #D0B000;
}
.sync_60 {
    background-color: #D09000;
}
.sync_50 {
    background-color: #D07000;
}
.sync_40 {
    background-color: #D05000;
}
.sync_30 {
    background-color: #D01000;
}
